
<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{mon.name[0].toUpperCase() + mon.name.substr(1)}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
 <img ng-src="./images/sprites/sprites/pokemon/model/{{mon.url.split('/')[6]}}.png">
 <h2 ng-if="!details">Details go here</h2>
 <div ng-if="details">
   <div class='types'>
     <h3>Type(s):</h3>
     <span>{{details.types[1].type.name[0].toUpperCase() + details.types[1].type.name.substr(1)}} {{details.types[0].type.name[0].toUpperCase() + details.types[0].type.name.substr(1)}}</span>
   </div>
     <div class='abilities'>
     <h3>Abilities:</h3>
     <span>{{details.abilities[1].ability.name[0].toUpperCase() + details.abilities[1].ability.name.substr(1)}}</span>
     <div ng-if="details.abilities[2]">{{details.abilities[2].ability.name[0].toUpperCase() + details.abilities[2].ability.name.substr(1)}}</div>
     <div>
       {{details.abilities[0].ability.name[0].toUpperCase() + details.abilities[0].ability.name.substr(1)}} (hidden)
     </div>
   </div>
   <div class='stats'>
   <h3>Base Stats</h3>
    <span>HP: {{details.stats[5].base_stat}}</span>
    <span>Attack: {{details.stats[4].base_stat}}</span>
    <span>Defense: {{details.stats[3].base_stat}}</span>
    <span>Special Attack: {{details.stats[2].base_stat}}</span>
    <span>Special Defense: {{details.stats[1].base_stat}}</span>
    <span>Speed: {{details.stats[0].base_stat}}</span>
   </div>

   <canvas id="radar" class="chart chart-radar"
  chart-data="data" chart-labels="labels">
</canvas>

 </div>
<!--  <h2>Type(s): {{details.types[1].type.name  details.types[0].type.name}}</h2>
Type(s): {{details.types[1].type.name  details.types[0].type.name
 {{details.abilities[0].ability.name}}
 <p>Base Stats:
    HP: {{details.stats[5].base_stat}}
    Attack: {{details.stats[4].base_stat}}
    Defense:  {{details.stats[3].base_stat}}
    Special Attack:  {{details.stats[2].base_stat}}
    Special Defense:  {{details.stats[1].base_stat}}
    Speed:  {{details.stats[0].base_stat}}
 </p> -->


      </div>
<!--     </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog> -->